.boitetext{
  display: flex;
  background-color: green;
  justify-content: center;
  align-items: center;
  margin: 5px;
  text-align:center;

}

.boite{
  display: flex;
  align-items: center;
  margin: 5px;
  background-color: red;
}

.fix-both{
  align-items: flex-end;
  background-color: blue;
}