#menu{
    font-size: 24px;
    margin-left: 700px;
    text-align: center;
    font-family: 'Righteous'cursive;    
}
#menu ul{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    text-align: center;
}
#menu li{
    float: left;
    margin: auto;
    padding: 15px;    
    text-decoration: none;
}
#menu li a{
    display: block;
    width: 100px;
    text-decoration: underline;
    color: red;
    padding: 5px;
    }

#sousmenu li a{
    color: black;
    text-decoration: none;
    display: flex;
}

 #menu li a:hover{
     
 } 
 #menu ul li ul{
     display: none;
 }
 #menu ul li:hover ul{
     display: block;
 }
 #menu  li:hover ul li{
     float: flex;
 }
 #menu li ul{
     position: absolute;

 }
 #menu{
     height: 50px;
 }
 #menu a{
     text-decoration: none;
     
 }
 #menu ul li a::after{
     filter:alpha(opacity=10);
 }