body{
    background-color: rgb(53, 42, 65);
    max-height: 100px;
}

h1{
    font-size: 25px;
    position: relative;
    z-index: 5;
    color: antiquewhite;
    text-align: center;
}
#wrap {
    width: 100%;
    margin: 50px auto;
    max-height: 100vh;
}
#un {
    height: 250px;
    background: black;
    width: 550px;
}

p {
    color: white;
    font-size: 18px;
    text-align: center; 
    top: 50%;  


    /*display: inline-block;
    margin: auto; */
}
 p{
    margin-top: 15px;
}

#deux {
    position: absolute;
    height: 250px;
    width: 650px;
    margin-top: -250px;
    background: black;
    margin-left: 580px;
}


#trois {
    height: 250px;
    background: rgb(61, 133, 241);
    width: 350px;
}

#quatre {
    position: absolute;
    height: 250px;
    width: 350px;
    margin-top: -250px;
    background: black;
    margin-left: 380px;
}

#cinq {
    position: fixed;
    float: left;
    width: 200px;
    height: 125px;
    background: rgb(255, 22, 243);
    bottom: 0;
}

#six {
    position: fixed;
  
    height: 25px;
    width: 350px;
    background: black;
    margin-left: 380px;
    bottom: 0;
}

.sept {
    float: right;
    width: 58px;
    height: 200px;
    margin-top: -280px;
    background: #FF0;
}

#huit {
    position: fixed;
    margin-left: 75%; 
    width: 400px;
    height: 90px;
    background: #FF0;
    bottom: 0;
}

.row2{
    margin: auto;
    width: 60%;
    margin-top: 1%;
}




.row3{

    margin: auto;
    width: 100%;
    margin-top: 1%;
}




